.button-close {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 20px;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
