.location {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 140px;
}

.location__city {
  box-sizing: border-box;
  display: block;
  align-self: flex-start;
  padding: 4px 0 4px 24px;
  font-family: $raleway-bold;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  outline: none;
  color: $color-orange;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../img/icon-location.svg");
  background-repeat: no-repeat;
  background-size: 16px 21px;
  background-position: 0 0;
  cursor: pointer;

  &:hover,
  &:focus {
    position: relative;

    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: 24px;
      width: calc(100% - 24px);
      height: 1px;
      border-bottom: 1px dashed $color-orange;
    }
  }
}

@media (max-width: $tablet-width) {
  .location {
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}
