.menu {
  display: flex;
  width: 941px;
}

.menu__main-nav {
  margin-right: auto;
}

.menu__info {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 303px;
  padding-top: 14px;
  padding-left: 10px;
}

.menu__location {
  margin-right: 24px;
}

.menu__tel {
  display: flex;
  flex-wrap: wrap;
  width: 129px;
  flex-shrink: 0;
}

@media (max-width: $tablet-width) {
  .menu {
    flex-direction: column;
    width: 100%;
    z-index: 100;

    &--closed {
      display: none;
    }

    &--opened {
      flex-grow: 1;
    }
  }

  .menu__main-nav {
    order: 1;
  }

  .menu__info {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 21px 20px 35px;
    align-items: center;
    order: 0;

    &::after {
      position: absolute;
      left: 4.5%;
      bottom: 0;
      content: "";
      width: 91.111111%;
      height: 1px;
      background-color: #ffffff;
      opacity: 0.16;
    }
  }

  .menu__location {
    margin: 0 0 15px;
  }

  .menu__tel {
    margin: 0 auto;
  }
}
