.modal-question {
  top: calc(50% - 340px);
  left: calc(50% - 240px);
  width: 480px;
  height: 682px;
}

.modal-question__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 32px 35px;
  background-image: linear-gradient(0deg, #141414 0%, #1f1d1d 60.17%);
}

.modal-question__title {
  margin: 0;
  margin-bottom: 39px;
}


@media (max-width: $mobile-width) {
  .modal-question {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .modal-question__container {
    width: 100%;
    height: 100%;
    padding: 32px 16px 47px;
  }

  .modal-question__button-close {
    top: 26px;
    right: 3px;
  }
}
