.modal-city__container {
  width: 480px;
  max-height: 485px;
  padding: 31px 32px 32px;
}

.modal-city__title {
  margin: 0;
  margin-bottom: 26px;
}

.modal-city__determine {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 42px;
  padding-left: 32px;
  font-family: $raleway-regular;
  font-weight: 400;
  text-decoration: none;
  vertical-align: top;
  color: #e6e6e6;
  background-image: url("../img/icon-target.svg");
  background-repeat: no-repeat;
  background-position: 0 1px;
  background-size: 24px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: calc(100% - 33px);
    height: 1px;
    background-color: #ffffff;
  }
}

.modal-city__text {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 3px;
  font-family: $raleway-regular;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #e6e6e6;
}

.modal-city__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-city__item {
  margin-bottom: 19px;
}

.modal-city__link {
  font-family: $raleway-bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.32;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    position: relative;
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-orange;
    }
  }
}

@media (max-width: $mobile-width) {
  .modal-city__container {
    width: 100%;
    height: 100%;
    padding: 32px 16px 0;
  }

  .modal-city__button-close {
    top: 26px;
    right: 3px;
  }

  .modal-city__list {
    padding-bottom: 32px;
  }
}
