.page-inner {
  position: fixed;
  top: 109px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100% - 157px);
  overflow-y: scroll;

  // &--active-js {
  //   position: static;
  // }
}

.page-inner__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: $tablet-width) {
  .page-inner {
    position: static;

    &--active-js {
      position: fixed;
      top: 105px;
      height: calc(100% - 105px);
    }
  }
}

@media (max-width: $mobile-width) {
  .page-inner {
    position: static;
    min-height: auto;
    height: auto;
    overflow-y: auto;
  }
}
