.page-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 left 0;
  background-color: #1c1c1c;

  &--maniac {
    background-image: url("../img/bg-maniac-desktop@1x.jpg");
  }

  &--mansion {
    background-image: url("../img/bg-mansion-desktop@1x.jpg");
  }

  &--ritual {
    background-image: url("../img/bg-ritual-desktop@1x.jpg");
  }

  &--experiment {
    background-image: url("../img/bg-experiment-desktop@1x.jpg");
  }

  &--promo {
    background-image: url("../img/background-main-desktop@1x.jpg");
    background-position: 0 0;
  }
}
