.page-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 left 0;
  background-color: #1c1c1c;

  &--maniac {
    background-image: url("../img/bg-maniac-desktop@1x.jpg");
    background-position: center top;
  }

  &--bg-blur {
    background-image: url("../img/bg-maniac-blur-desktop.jpg");
  }

  &--mansion {
    background-image: url("../img/bg-mansion-desktop@1x.jpg");
    background-position: top 0 right 0;
  }

  &--ritual {
    background-image: url("../img/bg-ritual-desktop@1x.jpg");
  }

  &--experiment {
    background-image: url("../img/bg-experiment-desktop@1x.jpg");
  }

  &--promo {
    background-image: url("../img/bg-main-desktop@1x.jpg");
    background-position: 0 0;
  }
}


@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .page-wrapper {
    &--maniac {
      background-image: url("../img/bg-maniac-desktop@2x.jpg");
    }

    &--mansion {
      background-image: url("../img/bg-mansion-desktop@2x.jpg");
    }

    &--ritual {
      background-image: url("../img/bg-ritual-desktop@2x.jpg");
    }

    &--experiment {
      background-image: url("../img/bg-experiment-desktop@2x.jpg");
    }

    &--promo {
      background-image: url("../img/bg-main-desktop@2x.jpg");
    }
  }
}


@media (max-width: $tablet-width) {
  .page-wrapper {
    min-height: 100%;
    background-position: top 0 right 0;

    &--maniac {
      background-image: url("../img/bg-maniac-tablet@1x.jpg");
    }

    &--bg-blur {
      background-position: top 0 left 0;
    }

    &--mansion {
      background-image: url("../img/bg-mansion-tablet@1x.jpg");
    }

    &--ritual {
      background-image: url("../img/bg-ritual-tablet@1x.jpg");
    }

    &--experiment {
      background-image: url("../img/bg-experiment-tablet@1x.jpg");
    }

    &--promo {
      background-image: url("../img/bg-main-tablet@1x.jpg");
    }
  }


  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-wrapper {
      &--maniac {
        background-image: url("../img/bg-maniac-tablet@2x.jpg");
      }

      &--mansion {
        background-image: url("../img/bg-mansion-tablet@2x.jpg");
      }

      &--ritual {
        background-image: url("../img/bg-ritual-tablet@2x.jpg");
      }

      &--experiment {
        background-image: url("../img/bg-experiment-tablet@2x.jpg");
      }

      &--promo {
        background-image: url("../img/bg-main-tablet@2x.jpg");
      }
    }
  }
}


@media (max-width: $mobile-width) {
  .page-wrapper {
    height: auto;
    background-position: center top;
    background-size: cover;

    &--maniac {
      background-image: url("../img/bg-maniac-mobile@1x.jpg");
    }

    &--bg-blur {
      background-image: url("../img/bg-maniac-blur-mobile.jpg");
      background-position: 0 0;
    }

    &--mansion {
      background-image: url("../img/bg-mansion-mobile@1x.jpg");
    }

    &--ritual {
      background-image: url("../img/bg-ritual-mobile@1x.jpg");
    }

    &--experiment {
      background-image: url("../img/bg-experiment-mobile@1x.jpg");
      background-position: right top;
    }

    &--promo {
      background-image: url("../img/bg-main-mobile@1x.jpg");
      background-size: cover;
    }
  }


  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-wrapper {
      &--maniac {
        background-image: url("../img/bg-maniac-mobile@2x.jpg");
      }

      &--mansion {
        background-image: url("../img/bg-mansion-mobile@2x.jpg");
      }

      &--ritual {
        background-image: url("../img/bg-ritual-mobile@2x.jpg");
      }

      &--experiment {
        background-image: url("../img/bg-experiment-mobile@2x.jpg");
      }

      &--promo {
        background-image: url("../img/bg-main-mobile@2x.jpg");
      }
    }
  }
}
