.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 4;
}

.page-footer__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px 17px;
}

@media (max-width: $tablet-width) {
  .page-footer {
    position: static;
    margin-top: auto;
    order: 2;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0 18px 19px 16px;
  }
}
