.page-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-inner::-webkit-scrollbar {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-inner {
    height: auto;
    overflow: auto;
  }
}
