.page-header {
  z-index: 10;
}

.page-header__container {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: 1366px;
  padding: 23px 32px;
}

.page-header__top {
  flex-shrink: 0;
  width: 134px;
  margin-right: 40px;
}

.page-header__menu {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .page-header {
    &--opened {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(163.84deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
    }

    &--modal-opened,
    &--opened {
      overflow-y: hidden;
    }
  }

  .page-header__container {
    display: flex;
    flex-direction: column;
    min-height: 640px;
    padding: 0;

    &--closed {
      position: static;
      min-height: auto;
      background-image: none;
    }

    &--opened {
      width: 100%;
      flex-grow: 1;
      min-height: auto;
      overflow-y: scroll;
    }
  }

  .page-header__top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 23px 30px;
  }
}


@media (max-width: $mobile-width) {
  .page-header__top {
    padding: 19px 14px 16px 16px;
  }
}
