.page-footer {
  width: 100%;
  background-color: transparent;
}

.page-footer__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px 17px;
}

@media (max-width: $tablet-width) {
  .page-footer {
    display: none;
  }
}
