.promo-quest {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.promo-quest__container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;

  &--maniac {
    padding-bottom: 127px;
  }

  &--mansion {
    padding-bottom: 38px;
  }

  &--ritual {
    padding-bottom: 128px;
  }

  &--experiment {
    padding-bottom: 80px;
  }
}

.promo-quest__info {
  box-sizing: border-box;
  margin-left: auto;
  max-width: 846px;
  width: 100%;
  padding: 0 80px;
}

.promo-quest__category {
  display: block;
  margin: 0;
  margin-bottom: 11px;

  &--maniac {
    padding-left: 7px;
  }
}

.promo-quest__title {
  margin-bottom: 28px;

  &--long {
    margin: 22px 0;
  }
}

.promo-quest h2 {
  margin: 0;
  font-family: $raleway-black;
  font-weight: 900;
  font-size: 92px;
  line-height: 87px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.promo-quest__parameters {
  margin-bottom: 18px;
  padding-left: 9px;
}

.promo-quest p {
  box-sizing: border-box;
  max-width: 570px;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 32px;
  font-size: 15px;
  line-height: 23px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.promo-quest__button {
  margin-left: 34px;
}

@media (max-width: $tablet-width) {
  .promo-quest__container {
    padding: 100px 0 38px;
  }

  .promo-quest__info {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    padding: 0;
    padding-right: 100px;
  }

  .promo-quest__category,
  .promo-quest h2,
  .promo-quest p {
    padding: 0;
  }

  .promo-quest__category {
    &--mansion {
      margin-bottom: 26px;
    }
  }

  .promo-quest__title {
    max-width: 540px;
    margin-bottom: 17px;

    &--long {
      margin-top: 0;
    }

    &--stairs {
      max-width: 450px;
    }
  }

  .promo-quest h2 {
    font-family: $raleway-black;
    font-weight: 900;
    font-size: 67px;
    line-height: 80px;
    letter-spacing: normal;
  }

  .promo-quest__parameters {
    padding: 0;
  }

  .promo-quest p {
    max-width: none;
    padding-right: 60px;
  }

  .promo-quest__button {
    width: 250px;
    height: 65px;
    margin: 0 0 20px;
    padding: 22px 20px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .promo-quest {
    display: block;
    height: 100%;
    min-height: auto;
  }

  .promo-quest__container {
    padding: 14px 0 0;
  }

  .promo-quest__info {
    max-width: 500px;
    margin: 0;
    padding: 278px 0 38px;

    &--long-title {
      padding-top: 171px;
    }

    &--no-catalog {
      padding-top: 280px;
    }
  }

  .promo-quest__category,
  .promo-quest h2,
  .promo-quest p {
    box-sizing: border-box;
    padding: 0 16px;
  }

  .promo-quest__title {
    &--stairs {
      max-width: 350px;
    }
  }

  .promo-quest h2 {
    font-size: 42px;
    line-height: 46px;
  }

  .promo-quest__parameters {
    margin: 0;
  }

  .promo-quest p {
    margin-bottom: 19px;
  }

  .promo-quest__button {
    margin: 0 16px 20px;
  }
}
