.promo {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}

.promo__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 89px 136px;
}

.promo h2 {
  max-width: 540px;
  margin: 0;
  margin-bottom: 30px;
  font-family: $raleway-extrabold;
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;
}

.promo p {
  max-width: 468px;
  margin: 0;
  margin-bottom: 30px;
  line-height: 26px;
}

.promo__button {
  margin-top: 66px;
}

@media (max-width: $tablet-width) {
  .promo__container {
    padding: 300px 0 0;
  }

  .promo__info {
    box-sizing: border-box;
    padding: 25px 0;
  }

  .promo h2 {
    width: 100%;
    margin: 0 auto 34px;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
  }

  .promo p {
    display: none;
  }

  .promo__button {
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .promo__container {
    padding-top: 308px;
  }

  .promo__info {
    display: block;
    padding: 32px 0 64px;
  }

  .promo h2 {
    margin-top: auto;
    font-size: 36px;
    line-height: 40px;
  }

  .promo p {
    display: none;
  }

  .promo__button {
    margin: 0 auto;
  }
}
