.question {
  display: flex;
  padding: 6px 0 2px;
  align-self: flex-start;
  font-family: $raleway-medium;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #e6e6e6;
  text-decoration: none;
  border-bottom: 1px dashed #e6e6e6;
  z-index: 3;
  outline: none;

  &::before {
    content: "?";
    display: none;
    margin-right: 2px;
  }

  &:hover,
  &:focus {
    border-color: $color-orange;

    &::before {
      display: block;
    }
  }

  &:hover,
  &:focus,
  &::before {
    color: $color-orange;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .question {
    padding-bottom: 3px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}
