.question {
  padding: 6px 0 2px;
  align-self: flex-start;
  font-family: $raleway-medium;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #e6e6e6;
  text-decoration: none;
  border-bottom: 1px dashed #e6e6e6;
  z-index: 3;
}

@media (max-width: $tablet-width) {
  .question {
    padding-bottom: 3px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}
