.select {
  position: relative;
}

.select__button,
.select__option {
  box-sizing: border-box;
  font-family: $raleway-medium;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.select__button {
  position: relative;
  display: block;
  width: 120px;
  height: 36px;
  padding: 0;
  padding-right: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $color-orange;
  border-radius: 0;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: -1px;
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon-triangle.svg");
    background-repeat: no-repeat;
    background-size: 5px 7px;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  &--opened {
    border-color: #e6e6e6;

    &::before {
      transform: rotate(90deg);
    }
  }
}

.select__list {
  position: absolute;
  top: 36px;
  left: 0;
  width: 120px;
  height: 128px;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 10;

  &--closed {
    display: none;
  }
}

.select__option {
  display: block;
  padding: 5px;
  color: #000000;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #c1c1c1;
  }
}
