@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:  url("../fonts/Raleway-Regular.woff") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway Medium";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:  url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway SemiBold";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:  url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Raleway Bold";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src:  url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway ExtraBold";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:  url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
}
