@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:  url("../fonts/raleway-regular.woff") format("woff2"),
    url("../fonts/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway Medium";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:  url("../fonts/raleway-medium.woff2") format("woff2"),
    url("../fonts/raleway-medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway SemiBold";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:  url("../fonts/raleway-semibold.woff2") format("woff2"),
    url("../fonts/raleway-semibold.woff") format("woff");
}

@font-face {
  font-family: "Raleway Bold";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src:  url("../fonts/raleway-bold.woff2") format("woff2"),
    url("../fonts/raleway-bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway ExtraBold";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:  url("../fonts/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway-extrabold.woff") format("woff");
}

@font-face {
  font-family: "Raleway Black";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:  url("../fonts/raleway-black.woff2") format("woff2"),
    url("../fonts/raleway-black.woff") format("woff");
}
