html,
body {
  height: 100%;
}

body {
  font-family: $raleway-medium;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: $color-description;
  -ms-overflow-style: none;
}

img {
  max-width: 100%;
  border-style: none;
}
