$mobile-width: 767px;
$tablet-width: 1023px;

$raleway-regular: "Raleway Regular", "Arial", sans-serif;
$raleway-medium: "Raleway Medium", "Arial", sans-serif;
$raleway-semibold: "Raleway SemiBold", "Arial", sans-serif;
$raleway-bold: "Raleway Bold", "Arial", sans-serif;
$raleway-semibold: "Raleway ExtraBold", "Arial", sans-serif;

$color-title: #ffffff;
$color-description: #e6e6e6;
$color-overlay: #3d3333;
$color-orange: #f2890f;

$gradient-shadow: linear-gradient(0.36deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%);
$gradient-background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
$gradient-orange: linear-gradient(172.29deg, #f2901d 9.78%, #d26f13 79.81%);
$gradient-green: linear-gradient(180deg, #2cdb52 0%, #13ba19 100%);
