$mobile-width: 767px;
$tablet-width: 1023px;

$raleway-regular: "Raleway Regular", "Arial", sans-serif;
$raleway-medium: "Raleway Medium", "Arial", sans-serif;
$raleway-semibold: "Raleway SemiBold", "Arial", sans-serif;
$raleway-bold: "Raleway Bold", "Arial", sans-serif;
$raleway-extrabold: "Raleway ExtraBold", "Arial", sans-serif;
$raleway-black: "Raleway Black", "Arial", sans-serif;

$color-title: #ffffff;
$color-description: #e6e6e6;
$color-overlay: #3d3333;
$color-orange: #f2890f;
$color-button: #f28a0f;
$color-button-hover: #f39425;
$color-disabled: #b8b8b8;

$gradient-shadow: linear-gradient(0.36deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%);
$gradient-fade-brown: linear-gradient(177.83deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%);
$gradient-background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
$gradient-orange: linear-gradient(172.29deg, #f2901d 9.78%, #d26f13 79.81%);
$gradient-green: linear-gradient(180deg, #2cdb52 0%, #13ba19 100%);
